.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-block {
    width: 50%;
}

.about-bg {
    width: 40%;
    background: url(../../images/widgets/about-bg.png) no-repeat top left;
}

.about-bg img {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    display: block;
}

.about-block h3.section-title {
    background-position: bottom left;
}

.about-block .btn {
    margin: 40px 0 0 0;
}